.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
.terraformrc
terraform.rc
.DS_Store
Thumbs.db
*Zone.Identifier*
#*.gitpush
